---
import Header from '../components/Header.astro';
import BlogPost from "../components/BlogPost.astro";
import { getCollection } from "astro:content";
import Layout from '../layouts/Layout.astro'


const allPosts = await getCollection("blog");

allPosts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<Layout title="blog">
  <main>
    <ul>
      {allPosts.map((post) => (
        <BlogPost post={post} />
      ))}
    </ul>
  </main>
</Layout>