---
import Header from "../components/Header.astro";

const {
  title = "Darwin Morris",
  description = "Personal site and writing by Darwin Morris.",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
	<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap" rel="stylesheet" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />

    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
  </head>

  <body>
    <Header />

    <main class="page">
      <slot />
    </main>
  </body>
</html>

<style is:global>
  :root {
    font-family:
      "Fira Code",
      ui-monospace,
      SFMono-Regular,
      Menlo,
      Monaco,
      Consolas,
      "Liberation Mono",
      monospace;

    color: #111827;
    background: #fff1d8;
  }

  html {
    margin: 0;
    min-height: 100%;
  }

  body {
    margin: 0;
    min-height: 100%;
  }

  a {
    color: inherit;
  }

  * {
    box-sizing: border-box;
  }
</style>

<style>
  .page {
    max-width: 1000px;
    margin: 0 auto;
    padding: 48px 24px;
  }
</style>